.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}

a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:8px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
}


a.button1:hover{
    color:#000000;
    background-color:red;
}

.flex-container {
    display: flex;
    border: 5px outset #ff0000;
    border-radius: 8px;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}

.myDiv {
    border: 5px outset #ff0000;
    background-color: #ffffff;
    text-align: center;
    width: 800px;
    height: auto;
    padding: 10px 0;
    border-radius: 8px;
    margin: auto;
}

li {
    display: inline;
}
li a {
    display: block;
    padding: 8px;
    background-color: #ffffff;
}
h2{
    color:black;
}

.contact_us{
    color: rgb(163, 163, 163);
    text-align: center;
}

/*Table stuff */

.column{
    float: left;
    width: 40%;
    padding: 20px;
}

.row{
    content:"";
    clear: both;
    display: table;
}