/*this is the css file for  login.html files
Here you can find all intel about login.html design tool*/






img ~ p {background-color: black}
img + p { color:red}
.block {display: block}

.must {color:black;
    font-size: 200% }
.punane {
    color:red;
    font-size: 200%;
}
img {border-radius: 1px;
    width: 50%;
    height: auto;
    text-align: center;
}
body {font-family: Arial, sans-serif;}
.myDiv {
    border: 5px outset #ff0000;
    background-color: #ffffff;
    text-align: center;
    width: 500px;
    height: auto;
    padding: 70px 0;
    border-radius: 8px;
    margin: auto;
}
/* Style all input fields */
input {
    width: 25%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

}
/* Style the submit button */
button[type=submit] {
    background-color: #f80606;
    width: 20%;
    color: white;
    height: 40px;
    border-radius: 8px;

}
button[type=submit]:hover {
    color: red;
    background-color: black;
    border: 1px solid red;
}


/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    width: 100%;
    text-align: center;
}
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
#message p {
    width: 100%;
    font-size: 20px;
}