/*this is the css file for  user_view.html files.
Here you can find all intel about lindex.html design tool*/


#result-email{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;

}
#result-surname{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;

}
#result-username{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}
#icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 2rem;
}

#icon:hover {
    cursor: pointer;
    background-color: rgb(163, 163, 163);
}

.dropdown {
    position: relative;
}
.dropdown-content {

    border: 1px solid red;
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    height: auto;
    width: auto;
    background-color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    font-size: small;



}

.hidden {
    display: none;
}


.foorum{
    background-color: #d6a5a5;
    border-radius: 8px;
    border:2px solid #e01313;
    width: 70%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;


}
small{
    color: rgba(0, 0, 0, 0.5);
}
.feedback{
    font-weight: bold;
    font-size: small;
    font-family: Helvetica;
}
.contact{
    border: 1px solid red;
}
.name {
    font-size: medium;
    font-family: Helvetica;
}
.data {
    border-radius: 8px;
    text-align: left;
    width: 40%;
    border:2px solid #020202;
    padding: 10px;
    margin: auto;
    display: compact;
    justify-content: center;
    align-items: center;
    background-color: white;

}


body {font-family: verdana, sans-serif;
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 300px 100px;
}




div > p {
    color:black;
    font-family: verdana,sans-serif;
    padding:2px;
}

.topright {
    display: flex;
    position: absolute;
    top: 8px;
    right: 16px;
}

.flex-container {
    display: flex;
    border: 5px outset #ff0000;
    border-radius: 8px;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}

.flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:8px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
}

a.button1:hover{
    color:#000000;
    background-color:red;
}

@media all and (max-width:30em){
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}